html,body{
	padding:0;margin:0;
}
$baseFontSize:      100px !default;
@function pxToRem($px) {
  @return $px / $baseFontSize * 1rem;
}
$fontSize:pxToRem(22px);
body{
	font-size:pxToRem(22px);
}
.err-img{
	width:pxToRem(400px);
	height:pxToRem(346px);
	display:block;
	margin:0 auto;
}
$errType :404,500,403;
@each $type in $errType{
	.err-#{$type}{
		background:url(imgs/#{$type}.png) no-repeat;
	}
}